/* Reset margin and set default font */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

/* Container for the entire layout */
.container {
    display: flex;
    width: 100%;
}

/* Sidebar styles */
.sidebar {
    background-color: #1a73e8;
    color: white;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    padding: 15px 10px;
    text-align: left;
    cursor: pointer;
}

.sidebar ul li.active,
.sidebar ul li:hover {
    background-color: #155ab6;
}

/* Main content styles */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

header h2 {
    margin-bottom: 10px;
}

/* Form container styles */
.form-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"], 
.form-group textarea, 
.form-group select {
    width: calc(100% - 20px); /* Adding some padding inside the input/textarea */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

.form-group input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #4cae4c;
}
