<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Materi</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="opening-penyakit.css">
</head>

<body>

    <header class="header">
        <span class="close">&times;</span>
        <h1>Penyakit Menyerang Sistem Gerak Manusia</h1>
        <a href="tulang.html" class="button">Mulai</a>
      </header>
      <div class="content">
        <div class="opening">
        <p>Selamat datang di Kursus Lanjutan Sistem Gerak Manusia: Penyakit pada sistem gerak manusia. Dalam kursus ini, Anda akan mempelajari tentang penyakit pada sistem gerak manusia, termasuk jenis-jenis penyakit yang mempengaruhi fungsi dan struktur tulang serta otot, dan bagaimana kondisi tersebut mempengaruhi gerakan tubuh. </p>
            
        <p>Penyakit pada sistem gerak manusia dapat mempengaruhi kerangka tubuh, mengakibatkan tubuh kesulitan untuk berdiri tegak, serta mengganggu fungsi otot-otot yang melekat pada tulang. 
          Penyakit pada tulang dan otot juga dapat menghambat aliran darah, merusak sumsum tulang, dan mengganggu fungsi saraf yang melindungi jaringan lunak. 
          Selain itu, penyakit pada tulang dan otot dapat menyebabkan kesulitan atau ketidakmampuan seseorang untuk mengangkat dan membawa barang berat.</p>
         
        <p>Mari kita mulai perjalanan ini untuk memahami lebih dalam tentang penyakit yang menyerang sistem gerak manusia!</p>
    
        </div>


        <h2>Penyakit Pada Tulang</h2>
        <p>Penyakit tulang dapat menyebabkan berbagai gangguan yang serius pada tubuh, mengingat tulang memiliki fungsi yang sangat penting dan harus dilindungi. 
          Penyakit seperti osteoporosis, artritis, dan infeksi tulang dapat melemahkan struktur tulang, mengakibatkan rasa sakit, keterbatasan gerak, 
          dan peningkatan risiko patah tulang.</p>

        <h2>Penyakit pada Otot </h2>
        <p>Penyakit pada otot dapat mempengaruhi fungsi tubuh, mengakibatkan kesulitan untuk berdiri tegak, serta mengganggu kerja otot-otot yang melekat pada tulang. 
          Penyakit otot juga dapat menghambat aliran darah, merusak jaringan otot, dan mengganggu fungsi saraf yang melindungi jaringan lunak. 
          Selain itu, penyakit pada otot dapat menyebabkan kesulitan atau ketidakmampuan seseorang untuk mengangkat dan membawa barang berat.</p>

        <h2>Penyakit pada Sendi</h2>
        <p>Penyakit pada sendi dapat mempengaruhi fungsi tubuh, mengakibatkan kesulitan untuk berdiri tegak, serta mengganggu gerakan yang melibatkan sendi. 
          Penyakit sendi seperti artritis dan osteoartritis dapat menyebabkan peradangan, nyeri, dan kekakuan pada sendi, sehingga menghambat aliran darah dan 
          mengganggu fungsi saraf yang melindungi jaringan lunak di sekitar sendi. Selain itu, penyakit pada sendi dapat menyebabkan kesulitan atau 
          ketidakmampuan seseorang untuk mengangkat dan membawa barang berat.</p>
      </div>


      <script>
      document.addEventListener("DOMContentLoaded", function() {
        var closeButton = document.querySelector(".close");
        closeButton.addEventListener("click", function() {
          document.querySelector(".header").style.display = "none";
        });
      });
      </script>
    
</body>
</html>