<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Materi</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="opening-otot.css">

</head>

<body>

    <header class="header">
        <span class="close">&times;</span>
        <h1>Macam-Macam Jenis Otot Manusia</h1>
        <a href="otot.html" class="button">Mulai</a>
      </header>
      <div class="content">
        <div class="opening">
        <p>Selamat datang di Kursus Lanjutan Sistem Gerak Manusia: Otot Manusia. Dalam materi ini, Anda akan mempelajari tentang macam-macam otot manusia yang membantu sistem gerak manusia</p>
            
        <p>Otot adalah jaringan serat otot yang bekerja sama untuk menghasilkan kontraksi. Otot adalah organ yang paling penting dalam tubuh manusia dan hewan, 
          karena tanpanya kita tidak dapat bergerak, bernapas, makan, atau melakukan berbagai aktivitas.
        </p>
         
        <p>
            Mari kita mulai perjalanan ini untuk memahami lebih dalam tentang otot manusia dan peran pentingnya dalam sistem gerak manusia!
        </p>
    
        </div>


        <h2>Otot Halus </h2>
        <p>adalah jenis otot yang tidak memiliki garis melintang di dalamnya. Otot halus ada di berbagai organ tubuh dan berfungsi secara tidak sadar oleh sistem saraf otonom.</p>
        <h2>Otot Lurik/Rangka</h2>
        <p>Otot lurik adalah jenis otot yang paling sering ditemui dan dapat dikenali dengan mudah karena memiliki garis-garis melintang pada permukaannya. 
          Otot ini melekat pada tulang dan berperan dalam gerakan yang disadari.</p>
        <h2>Otot Jantung</h2>
        <p>Otot-otot ini terus bekerja untuk memompa darah ke seluruh tubuh, membawa oksigen dan nutrisi ke setiap sel, dan mengeluarkan limbah metabolisme.</p>
      </div>


      <script>
      document.addEventListener("DOMContentLoaded", function() {
        var closeButton = document.querySelector(".close");
        closeButton.addEventListener("click", function() {
          document.querySelector(".header").style.display = "none";
        });
      });
      </script>
    
</body>
</html>