<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="sendi-gerak.css">
  
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <h2>Sendi Gerak Manusia</h2>
      <div class="progress">
        <div class="progress-bar" id="progress-bar"></div>
      </div>
      <nav>
        <ul>
          <li class="section-title">Petunjuk</li>
          <li class="nav-item active" data-section="petunjuk" data-progress="1">
            <span class="nav-icon">&#9776;</span>
            Petunjuk memakai website ini
            <span class="nav-check">&#10003;</span>
          </li>
          <li class="section-title">Materi</li>
          <li class="nav-item" data-section="pengertian-sendi" data-progress="22">
            <span class="nav-icon">&#9776;</span>
            Pengertian Sendi
            <span class="nav-loading">&#9711;</span>
          </li>
          <li class="nav-item" data-section="sendi-mati" data-progress="33">
            <span class="nav-icon">&#9776;</span>
            Sendi Mati
            <span class="nav-loading">&#9711;</span>
          </li>
          <li class="nav-item" data-section="sendi-kaku" data-progress="44">
            <span class="nav-icon">&#9776;</span>
            Sendi Kaku
            <span class="nav-loading">&#9711;</span>
          </li>
          <li class="nav-item" data-section="sendi-gerak" data-progress="55">
            <span class="nav-icon">&#9776;</span>
            Sendi Gerak
            <span class="nav-loading">&#9711;</span>
          </li>
          <li class="nav-item" data-section="kuis" data-progress="55">
            <span class="nav-icon">&#9776;</span>
            kuis
            <span class="nav-loading">&#9711;</span>
          </li>
        </ul>
      </nav>
    </aside>
    <main class="content">
      <!-- Sections for content -->
      <section id="petunjuk" style="display: block;">
        <h2>Petunjuk</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta quisquam commodi modi quo, amet nisi asperiores voluptatibus itaque eaque, nostrum fugit, minus blanditiis repellat labore vero saepe harum recusandae veniam.</p>
      </section>
      <section id="pengertian-sendi">
        <div class="title">
          <h1><center>Pengertian Sendi</center></h1>
        </div>
        <div class="image-container">sendi">
        </div>
        <div class="author">
          Sendi Manusia
        </div>
        <div class="content">
          <p>
            Sendi merupakan penghubung antara dua tulang yang memungkinkan terjadinya gerakan pada rangka tubuh. Sendi  memiliki peran penting dalam aktivitas fisik sehari-hari. Sendi merupakan titik pertemuan dua atau lebih tulang. Sendi memiliki fungsi untuk memberikan stabilitas dan mobilitas pada rangka tubuh. Jumlah sedni yang dimiliki oleh setiap orang berbeda satu sama lain. Setidaknya setiap orng memiliki sekitar 250 sampai 350 sendi yang menghubungan tulang-tulang.           
          </p>
          <p>
            Sendi terbentuk dimulai dari kartilago pada daerah sendi. Kartilago akan membesar dan kedua ujungnya dibungkus oleh jaringan yang disebut kartilago artikulasi. Ujung dari kartilago akan membentuk sel-sel tulang ke arah dalam. Kedua ujung kartilago artikulasi dan tulang dilapisi oelh selaput sendi yang akan menghasilakn minyak synovial. Minyak tersebut berfungsi sebagai pelumas tulang. 
          </p>
          <p>
            Sendi memiliki fungsi utama sebagai tempat pertemuan antar tulang yang memungkinkan pergerakan dan juga sebagai penopang tubuh. Fungsi-fungsi lain dari sendi bergantung pada masing-masing jenis sendi pada tubuh. 
          </p>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7yDZbmWD-aM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </section>


      <section id="sendi-mati">
        <div class="title">
          <h1><center>Sendi Mati</center></h1>
        </div>
        <div class="image-container">
          <img src="assets/sendi mati.jpg" alt="sendi mati">
        </div>
        
        <div class="content">
          <p>
            Tidak semua sendi bisa digerakkan disebut dengan sendi mati atau sendi sinartosis. Jenis sendi ini tidak ada pergerakan antara tulang-tulang yang dihubungkan. Sendi mati terletak pada tempat-temapat yang stabilitas lebih diutamakan daripada stabilitas. Sendi ini menyambungkan beberapa tulang yang berdekatan dan dihubungkan oleh serabut jaringan ikat. 
         </p>

          <h2>1. Sutura</h2>
          
          <p>
            Sendi ini menyambungkan tulang-tulang di tengkorak (tidak termasuk tulang rahang). Pada orang dewasa, tulang-tulang tengkorak menyatu erat untuk melindungi otak dan membentuk wajah. Pada bayi dan balita, tulang-tulang tengkorak dihubungkan oleh jaringan ikat yang lebih besar dan fleksibel. Seiring bertambahnya usia, tulang-tulang ini akan menyatu, memberikan lebih banyak stabilitas dan perlindungan untuk otak.
          </p>

          <h2>2. Syndesmosis </h2>

          <p>
            Jenis sendi fibrosa ini menyambungkan dua tulang yang letaknya agak berjauhan. Kedua tulang ini dihubungkan oleh ligamen atau membran tebal (membran interoseus). Contoh syndesmosis bisa ditemukan di antara tulang lengan bawah (ulna dan radius) serta di antara dua tulang panjang di tungkai bawah (tibia dan fibula).          </p>

          <h2>3. Gomphosis</h2>

          <p>
            Jenis sendi fibrosa ini menjaga gigi tetap di tempatnya pada rahang atas dan bawah. Gomphosis adalah pengecualian dari aturan bahwa sendi hanya menghubungkan tulang ke tulang, karena sendi ini menghubungkan gigi ke tulang.</p>
  
        </div>
        
      </section>

      <section id="sendi-kaku">
        <div class="title">
          <h1><center>Sendi Kaku</center></h1>

        </div>
        <div class="image-container">
          <img src="assets/tulang.jpg" alt="Sendi-kaku">
        </div>
       
        <div class="content">
          <p>
        Sendi kaku, atau sendi amfiartrosis, adalah jenis sendi yang menghubungkan tulang-tulang dengan gerakan yang sangat terbatas. Karena sendi kaku tidak memiliki rongga, tulang-tulang tersebut langsung menyatu dengan tulang rawan. Sendi ini dihubungkan oleh kartilago.
        </p>          

        <p>
            Sendi kaku memiliki gerakan yang sangat terbatas meskipun memungkinkan sedikit pergerakan. Tulang-tulang pada sendi ini dihubungkan oleh tulang rawan (kartilago) atau jaringan fibrosa. Meskipun gerakannya tidak seluas sendi sinovial, sendi kaku menawarkan stabilitas yang lebih tinggi sambil tetap memberikan sedikit fleksibilitas. Berikut adalah jenis sendi kaku.
        </p>

          <h2>1. Simfisis</h2>

          <p>
            Tulang-tulang dihubungkan oleh tulang rawan yang disebut fibrocartilage. Contohnya adalah simfisis pubis di panggul dan cakram intervertebralis di tulang belakang. Simfisis pubis menyambungkan kedua tulang panggul di bagian depan, sedangkan cakram intervertebralis berada di antara tulang-tulang belakang dan berfungsi sebagai peredam kejut.          </p>
          

          <h2>2. Sindesmosis</h2>
          <p>
            Sindesmosis adalah jenis sendi fibrosa yang menghubungkan dua tulang dengan jaringan ligamen atau membran yang kuat. Sendi ini memungkinkan sedikit gerakan, sehingga memberikan stabilitas serta fleksibilitas yang terbatas.          </p>

          

          
        </div>
        
      </section>


      <section id="sendi-gerak">
        <div class="title">
          <h1><center>Sendi Gerak</center></h1>
        </div>
        <div class="image-container">
          <img src="assets/sendi-gerak.jpg" alt="Sendi Gerak pada Manusia">
        </div>
        
        <div class="content">
          <p>
            Sendi gerak merupakan bagian tubuh yang menyatukan dua atau lebih tulang, memungkinkan pergerakan antar tulang tersebut. Sendi sangat vital bagi manusia karena memungkinkan kita melakukan berbagai jenis gerakan seperti berjalan, berlari, melompat, dan menulis.          </p>
          
            <p>
                Fungsi utama sendi gerak mencakup beberapa aspek penting. Pertama, sendi gerak memungkinkan pergerakan antar tulang, 
                memungkinkan tubuh melakukan berbagai aktivitas fisik. Selain itu, sendi juga berperan dalam menahan beban tubuh, 
                mendistribusikan gaya dan tekanan yang diterima, serta melindungi ujung-ujung tulang dari kerusakan. 
                Salah satu fungsi penting lainnya adalah produksi cairan sinovial, yang melumasi dan melindungi sendi, 
                memastikan gerakan yang halus dan mengurangi gesekan antar tulang.
            </p>

            <p>
                Berdasarkan sifat pergerakannya, sendi gerak dapat dibagi menjadi beberapa jenis yaitu :
            </p>

            <h2>1. Sendi Putar</h2>
            <P>
                Sendi putar ini seperti engsel yang tersembunyi di dalam tubuh kita, menghubungkan dua tulang dan memberikan fleksibilitas luar biasa. 
                Contohnya, sendi pada leher yang memungkinkan kepala kita menoleh, pergelangan tangan yang memungkinkan rotasi tangan, 
                dan pangkal paha yang memungkinkan kaki berputar.
            </P>

            <h2>2. Sendi Pelana</h2>

            <p>
                Sendi pelana merupakan sendi gerak yang bergerak ke dua arah yang berbeda. Sendi ini disebut "pelana" karena permukaan pada sendi yang berbentuk mirip seperti pelana kuda. 
                Sendi pelana diibarkan seperti pengendara yang bebas mengarahkan kudanya ke depan, belakang, kiri, dan kanan. Contohnya, sendi pada pangkal ibu jari
            </p>

            <h2>3. Sendi Luncur</h2>
            <p>
                Sendi luncur bisa disebut sebagai sendi geser, merupakan jenis sendi gerak di mana dua tulang yang rata atau sedikit melengkung saling bergeser satu sama lain. Gerakan sendi ini bergerak terbatas pada gerakan kecil di permukaan rata.
                Sendi luncur merupakan salah satu jenis sendi yang paling banyak pada tubuh kita. Hal ini karena jenis sendi ini memiliki gerakan yang mudah dan halus di berbagai bagian tubuh.
            </p>

            <h2>4. Sendi Engsel</h2>
            <p>
                Sendi engseL merupakan sendi yang seperti engsel pintu. Sendi ini memiliki kemampuan untuk bergerak satu arah. Gerakan sendi ini terbatas pada satu bidang, yaitu gerakan membengkok dan meluruskan.
                Salah satu contoh sendi engsel pada tubuh manusia adalah sendi siku dan lutut, yang memungkinkan gerakan membengkok dan meluruskan lengan dan kaki.
            </p>

            <h2>5. Sendi Peluru</h2>
            <p>
                Sendi peluru adalah jenis sendi gerak yang memungkinkan gerakan di hampir semua arah. Strukturnya mirip dengan bola atau soket, 
                dengan kepala bulat satu tulang masuk ke dalam cekungan seperti cawan di tulang lainnya. Salah satu Contoh sendi peluru pada tubuh manusia yaitu pada
                bahu dan panggul adalah sendi yang memungkinkan lengan dan kaki bergerak ke berbagai arah.
            </p>

            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qXDI1-sZwA4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              
        </div>
      </section>

      <section id="kuis">
        <div class="title">
          
        </div>
        
        <div class="quiz-container" id="quiz-container">
            <div id="quiz"></div>
            <button id="next" onclick="nextQuestion()" style="display:none;">Selanjutnya</button>
            <button id="submit" onclick="submitQuiz()">Kirim</button>
            <div id="results"></div>
            <div id="score" style="display:none;"></div>
    
            <button id="back-to-main" onclick="backToMain()" style="display:none;">Kembali ke Menu Utama</button>
        </div>
    
        <script>
            const quizData = [
                {
                    question: "Sendi yang menghubungkan antara tulang ibu jari dengan tulang telapak tangan akan memungkinkan terjadinya gerakan ...",
                    answers: {
                        a: "Berputar",
                        b: "Ke satu arah",
                        c: "Ke dua arah",
                        d: "Ke segala arah"
                    },
                    correct: "c",
                    explanation: "Sendi yang menghubungkan antara tulang ibu jari dengan tulang telapak tangan adalah sendi pelana."
                },
                {
                    question: "Antara tulang yang satu dan tulang yang lainnya dihubungkan oleh...",
                    answers: {
                        a: "Otot",
                        b: "Rangka",
                        c: "Kolagen",
                        d: "Sendi"
                    },
                    correct: "d",
                    explanation: "Sendi adalah struktur dimana dua atau lebih tulang bertemu dan memungkinkan gerakan tubuh serta menyerap beban untuk menjaga stabilitas tubuh"
                }
            ];
    
            const quizContainer = document.getElementById('quiz');
            const resultsContainer = document.getElementById('results');
            const nextButton = document.getElementById('next');
            const submitButton = document.getElementById('submit');
            const backButton = document.getElementById('back-to-main');
            const scoreContainer = document.getElementById('score');
            let currentQuestionIndex = 0;
            let score = 0;
    
            function buildQuiz() {
                const currentQuestion = quizData[currentQuestionIndex];
                const answers = [];
    
                for (let letter in currentQuestion.answers) {
                    answers.push(
                        `<label class="option">
                            <input type="radio" name="question${currentQuestionIndex}" value="${letter}">
                            ${currentQuestion.answers[letter]}
                        </label>`
                    );
                }
    
                const output = 
                    `<div class="question">${currentQuestion.question}</div>
                    <div class="answers">${answers.join('')}</div>`;
    
                quizContainer.innerHTML = output;
            }
    
            function submitQuiz() {
                const currentQuestion = quizData[currentQuestionIndex];
                const answerContainer = quizContainer.querySelector('.answers');
                const selector = `input[name=question${currentQuestionIndex}]:checked`;
                const userAnswer = (answerContainer.querySelector(selector) || {}).value;
                const correctAnswer = currentQuestion.correct;
                const explanation = currentQuestion.explanation;
    
                let feedback = '';
                if (userAnswer === correctAnswer) {
                    answerContainer.querySelector(`input[value=${userAnswer}]`).parentElement.classList.add('correct');
                    score++;
                    feedback = '<p class="feedback correct-feedback">Jawaban kamu benar.</p>';
                } else {
                    if (userAnswer) {
                        answerContainer.querySelector(`input[value=${userAnswer}]`).parentElement.classList.add('incorrect');
                        feedback = '<p class="feedback incorrect-feedback">Jawaban kamu salah.</p>';
                    }
                    answerContainer.querySelector(`input[value=${correctAnswer}]`).parentElement.classList.add('correct');
                }
    
                resultsContainer.innerHTML = feedback + explanation;
    
                if (currentQuestionIndex < quizData.length - 1) {
                    nextButton.style.display = 'block';
                    submitButton.style.display = 'none';
                } else {
                    submitButton.style.display = 'none';
                    nextButton.style.display = 'none';
                    backButton.style.display = 'block';
                    showScore();
                }
            }
    
            function nextQuestion() {
                currentQuestionIndex++;
                resultsContainer.innerHTML = '';
                nextButton.style.display = 'none';
                submitButton.style.display = 'block';
                buildQuiz();
            }
    
            function showScore() {
                scoreContainer.innerHTML = `Skor kamu adalah ${score} dari ${quizData.length}`;
                scoreContainer.style.display = 'block';
            }
    
            // Fungsi untuk kembali ke menu utama
            function backToMain() {
                window.location.href = 'Pilhan-Materi.html'; // Ganti 'index.html' dengan halaman utama Anda
            }
    
            buildQuiz();
        </script>
    </section>
    
    
    



    </main>
  </div>

  
    
    

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const navItems = document.querySelectorAll('.nav-item');
      const sections = document.querySelectorAll('section');
      const progressBar = document.getElementById('progress-bar');
      
      navItems.forEach(item => {
        item.addEventListener('click', function () {
          navItems.forEach(nav => nav.classList.remove('active'));
          this.classList.add('active');
          
          const sectionId = this.getAttribute('data-section');
          const progress = this.getAttribute('data-progress');
          
          sections.forEach(section => {
            if (section.id === sectionId) {
              section.style.display = 'block';
            } else {
              section.style.display = 'none';
            }
          });
          
          progressBar.style.width = `${progress}%`;
          progressBar.textContent = `${progress}%`;
        });
      });
    });
  </script>
</body>
</html>
