<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="tulang.css">

</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <h2>Tulang dan Rangka Manusia (Bagian 1)</h2>
      <div class="progress">
        <div class="progress-bar" id="progress-bar"></div>
      </div>
      <nav>
        <ul>
          <li class="section-title">Petunjuk</li>
          <li class="nav-item active" data-section="petunjuk" data-progress="1">
            <span class="nav-icon">&#9776;</span>
            Petunjuk memakai website ini
            <span class="nav-check">&#10003;</span>
          </li>
          <li class="section-title">Materi</li>

          <li class="nav-item" data-section="tulang-tengkorak" data-progress="22">
            <span class="nav-icon">&#9776;</span>
            Tulang Tengkorak
            <span class="nav-loading">&#9711;</span>
          </li>

          <li class="nav-item" data-section="tulang-badan" data-progress="33">
            <span class="nav-icon">&#9776;</span>
            Tulang Badan
            <span class="nav-loading">&#9711;</span>
          </li>

          <li class="nav-item" data-section="tulang-anggota-gerak" data-progress="44">
            <span class="nav-icon">&#9776;</span>
            Tulang Anggota Gerak
            <span class="nav-loading">&#9711;</span>
          </li>

          <li class="nav-item" data-section="kuis" data-progress="0">
            <span class="nav-icon">&#9776;</span>
            Kuis
            <span class="nav-loading">&#9711;</span>
          </li>

        </ul>
      </nav>
    </aside>
    <main class="content">
      <!-- Sections for content -->
      <section id="petunjuk" style="display: block;">
        <h2>Petunjuk</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta quisquam commodi modi quo, amet nisi asperiores voluptatibus itaque eaque, nostrum fugit, minus blanditiis repellat labore vero saepe harum recusandae veniam.</p>
      </section>
      <section id="tulang-tengkorak">
        <div class="title">
          <h1><center>Mengenal Bagian dan Fungsi Tulang Tengkorak</center></h1>
        </div>
        <div class="image-container">
          <img src="assets/tulang-tengkorak.jpg" alt="Tulang tengkorak">
        </div>
        <div class="author">
          lorem
        </div>
        <div class="content">
          <p>
            Tulang tengkorak merupakan tulang yang tersusun dari tulang-tulang pipih yang saling berhubungan. Apakah kamu tahu fungsi dari tulang tengkorak? Tulang tengkorak memiliki fungsi untuk melindungi organ-oragn yang terdapat di kepala. Tulang-tulang yang menyusun tulang tengkorak dibagi menjadi 2 bagian yaitu tulang tengkorak penyusun wajah dan tulang tengkorak pelindung otak. 
          </p>
          
          <div class="image-container">
            <img src="assets/tengkorak.png" alt="Gambar Tulang Tengkorak" style="width: 600px; height: auto;">
        </div>
          
          
            <h3>Tulang Tengkorak Penyusun Wajah</h3>
            <P>
              Tulang ini berfungsi untuk melindungi organ-organ di bagian wajah, seperti hidung, mulut, dan mata. Tulang tengkorak penyusun wajah terdiri dari tulang rahang atas, tulang rahang bawah, tulang hidung, tulang langit-langit, tulang pipi, tulang hidung, tulang sekat rongga hidung, tulang air mata, dan tulang dinding leteral hidung. 
            </P>

            <h3>Tulang tengkorak pelindung otak</h3>
            <p>
              Tulang ini berfungsi untuk melindungi oran otak yang sangat lunak. Tulang tengkorak pelindung otak ini tersusun dari tulang ubun-ubun, tulang dahi, tulang pelipis, tulang kepala belakang, tulang baji, dan tulang tapis
            </p>
          

          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FIp5XqHCXDg?si=dxgdrLGLRQu9XkbW" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
          
          
        </div>
        
        
      </section>
      <section id="tulang-badan">
        <div class="title">
          <h1><center>Mengenal Bagian dan Fungsi Tulang Badan</center></h1>
        </div>
        <div class="image-container">
          <img src="assets/tulang-badan.jpg" alt="Tulang badan">
        </div>
        <div class="author">
          lorem
        </div>
        <div class="content">
          <p>
            Tulang badan adalah bagian dari kerangka manusia yang membentuk sumbu utama tubuh dan melindungi organ-organ vital. Kerangka tubuh terdiri dari beberapa bagian utama yaitu tulang belakang, tulang rusuk, tulang dada, dan tulang panggul          </p>
          <h3>Tulang Rusuk</h3>
          
          <p>
            Tulang rusuk adalah sepasang tulang melengkung yang membentuk rangka pelindung bagi organ-organ dalam rongga dada, seperti jantung dan paru-paru. Ada 12 pasang tulang rusuk yang masing-masing terhubung dengan tulang belakang di bagian belakang dan kebanyakan terhubung dengan tulang dada di bagian depan melalui tulang rawan. Tulang rusuk dibagi menjadi tiga jenis: tulang rusuk sejati (7 pasang pertama), tulang rusuk palsu (3 pasang berikutnya), dan tulang rusuk melayang (2 pasang terakhir).
          </p>

          <h3>Tulang Dada</h3>

          <p>
            Tulang dada adalah tulang pipih yang terletak di tengah dada dan terdiri dari tiga bagian: manubrium (bagian atas), korpus (badan utama), dan prosesus xifoideus (ujung bawah). Tulang dada berfungsi sebagai tempat perlekatan bagi tulang rusuk sejati dan memberikan perlindungan tambahan bagi jantung dan paru-paru.
          </p>

          <h3>Tulang Panggul</h3>

          <p>
            Tulang panggul adalah struktur tulang yang terdiri dari dua tulang pinggul yang masing-masing terbentuk dari tiga bagian: ilium (bagian atas), ischium (bagian bawah belakang), dan pubis (bagian bawah depan). Tulang panggul berfungsi sebagai penopang berat badan saat berdiri dan berjalan, serta melindungi organ-organ dalam rongga panggul seperti kandung kemih, organ reproduksi, dan sebagian usus besar.
          </p>

          <h3>Fungsi tulang badan</h3>

          <p>
            <ul>
              <li>Melindungi organ-organ vital seperti jantung, paru-paru, dan organ reproduksi</li>
              <li>Menyediakan kerangka yang menopang dan memberi bentuk tubuh.</li>
              <li>Menjadi tempat perlekatan bagi otot-otot yang menggerakkan bagian tubuh.</li>
              <li>Terutama saat berdiri, duduk, dan berjalan.</li>
              <li>Sumsum tulang dalam tulang belakang dan panggul menghasilkan sel darah merah, sel darah putih, dan trombosit.</li>
            </ul>
          </p>
        </div>
        
      </section>
      <section id="tulang-anggota-gerak">
        <div class="title">
          <h1><center>Sistem Rangka Pada Manusia: Pengertian, Fungsi dan Jenis Tulang</center></h1>
          <h2><center>Biologi</center></h2>
        </div>
        <div class="image-container">
          <img src="assets/tulang.jpg" alt="Sistem Rangka Pada Manusia">
        </div>
        <div class="author">
          lorem
        </div>
        <div class="content">
          <p>
            Tulang anggota gerak adalah bagian dari kerangka yang memungkinkan pergerakan dan manipulasi lingkungan. Tulang anggota gerak dibagi menjadi dua kelompok utama: tulang anggota gerak atas (lengan) dan tulang anggota gerak bawah (kaki). Masing-masing kelompok ini terdiri dari beberapa tulang yang terhubung oleh sendi dan didukung oleh otot serta ligamen.           </p>
          
          <h3>Tulang Anggota Gerak Atas</h3>

          <p>
            Merupakan dari kerangka manusia yang memungkinkan pergerakan dan manipulasi benda dengan tangan dan lengan. Tulang-tulang ini terdiri dari beberapa bagian utama yang terhubung oleh sendi dan didukung oleh otot serta ligamen. Berikutt merupakan susunan dari tulang anggota gerak atas: 
          </p>

          <ul>
            <li><b>Klaviula (Tulang selangka)</b> Merupakan tulang panjang yang menghubungkan lengan dengan tubuh pada bagian depan. Tulang ini terletak di antara sternum (tulang dada) dan skapula (tulang belikat)</li>
            <li><b>Skapula (Tulang Belikat)</b> Merupakan tulang pipih yang terletak di punggung atas. Tulang ini berfungsi sebagai titik perlekatan untuk banyak otot yang menggerakkan lengan dan bahu.</li>
            <li><b>Humerus (Tulang lengan atas) </b>tulang pipih yang terletak di punggung atas. Tulang ini berfungsi sebagai titik perlekatan untuk banyak otot yang menggerakkan lengan dan bahu</li>
            <li><b>Radius dan Ulna (Tulang lengan bawah)</b>
              <ul>
                <li>Radius: Terletak di sisi ibu jari lengan bawah. Radius berfungsi terutama dalam gerakan rotasi tangan dan pergelangan tangan. </li>
                <li>Ulna: Terletak di sisi jari kelingking lengan bawah. Ulna berfungsi sebagai penopang utama untuk lengan bawah dan membentuk sendi siku dengan humerus.</li>
              </ul> 
            </li>
          </ul>

          <h3>Fungsi Tulang Anggota Gerak Atas</h3>
          <p>
            Tulang anggota gerak atas berfungsi untuk memungkinkan berbagai gerakan dan aktivitas, seperti mengangkat, menggapai, dan melakukan tugas-tugas yang memerlukan ketelitian dan kekuatan. Kombinasi dari tulang-tulang ini memungkinkan pergerakan kompleks dan koordinasi yang penting untuk kehidupan sehari-hari.
          </p>

          <h3>Tulang Anggota Gerak Bawah</h3>

          <p>
            Tulang anggota gerak bawah adalah bagian penting dari kerangka manusia yang mendukung pergerakan, stabilitas, dan berat tubuh. Tulang-tulang ini membentuk tungkai bawah yang terdiri dari beberapa bagian utama yang terhubung oleh sendi dan didukung oleh otot serta ligamen. Berikut adalah penjelasan mengenai tulang anggota gerak bawah:
          </p>

          <ul>
            <li><b>Pelvis (Tulang Panggul) :</b> struktur tulang besar yang menghubungkan tulang belakang dengan tungkai bawah. Pelvis terdiri dari tiga bagian yang menyatu: ilium, ischium, dan pubis.</li>
            <li><b>Femur (Tulang Paha) :</b> tulang panjang terbesar dan terkuat di tubuh yang menghubungkan panggul dengan lutut. Bagian atas femur membentuk sendi panggul dengan pelvis, sementara bagian bawahnya membentuk sendi lutut dengan tibia dan patella</li>
            <li><b>Patela (Tulang Tempurung Lutut) :</b> tulang kecil berbentuk segitiga yang terletak di depan sendi lutut. Patela berfungsi untuk melindungi sendi lutut dan meningkatkan efektivitas otot-otot paha dalam meluruskan tungkai bawah</li>
            <li><b>Tibia (Tulang Kering) :</b> tulang besar di tungkai bawah yang menopang sebagian besar berat badan. Terletak di bagian depan kaki, tibia menghubungkan lutut dengan pergelangan kaki</li>
            <li><b>Fibula (Tulang Betis) :</b> tulang panjang dan ramping yang terletak di samping tibia. Meskipun tidak menanggung banyak berat badan, fibula berperan penting dalam memberikan stabilitas pada tungkai bawah dan membantu membentuk sendi pergelangan kaki.</li>
            <li><b>Tulang Tarsal (Pergelangan Kaki) :</b> Pergelangan kaki terdiri dari tujuh tulang kecil yang disebut tarsal. Tulang-tulang ini membentuk sendi pergelangan kaki dan memungkinkan berbagai gerakan kaki. Tulang tarsal yang paling penting adalah talus (yang membentuk sendi dengan tibia dan fibula) dan kalkaneus (tulang tumit).</li>
            <li><b>Tulang Metatarsal (Telapak Kaki) :</b> lima tulang panjang yang membentuk telapak kaki. Tulang-tulang ini terhubung dengan tulang-tulang tarsal di pergelangan kaki dan falanges di jari-jari kaki. Metatarsal memberikan dukungan dan stabilitas pada kaki saat berjalan dan berlari.</li>
            <li><b>Falanges (Tulang Jari Kaki) :</b> Tulang-tulang yang membentuk jari-jari kaki. Setiap jari kaki memiliki tiga falanges (proksimal, tengah, dan distal), kecuali ibu jari kaki yang hanya memiliki dua (proksimal dan distal). Falanges memungkinkan fleksibilitas dan gerakan pada jari-jari kaki, yang penting untuk keseimbangan dan pergerakan.</li>
          </ul>
          
          <h3>Fungsi Tulang Anggota Gerak Bawah</h3>

          <p>
            Fungsi utama dari tulang anggota gerak bawah adalah untuk menopang berat badan, memungkinkan pergerakan seperti berjalan, berlari, melompat, dan duduk, serta menjaga keseimbangan dan stabilitas tubuh. Kombinasi dari tulang-tulang ini memberikan dukungan struktural yang kuat dan fleksibilitas yang dibutuhkan untuk aktivitas sehari-hari
          </p>
        </div>
        
      </section>

      <section id="kuis">
        <div class="title">
          
        </div>
        
        <div class="quiz-container" id="quiz-container">
            <div id="quiz"></div>
            <button id="next" onclick="nextQuestion()" style="display:none;">Selanjutnya</button>
            <button id="submit" onclick="submitQuiz()">Kirim</button>
            <div id="results"></div>
            <div id="score" style="display:none;"></div>
    
            <button id="back-to-main" onclick="backToMain()" style="display:none;">Kembali ke Menu Utama</button>
        </div>
    
        <script>
            const quizData = [
                {
                    question: "Berikut ini yang bukan merupakan tulang anggota badan adalah...",
                    answers: {
                        a: "Tulang belakang",
                        b: "Tulang dada",
                        c: "Tulang rusuk",
                        d: "Tulang lengan"
                    },
                    correct: "a",
                    explanation: "Tulang belakang, atau vertebrae, merupakan bagian dari kerangka aksial yang membentuk sumbu tubuh dan melindungi sumsum tulang belakang, bukan bagian dari kerangka anggota badan yang terdiri dari tulang-tulang seperti lengan dan kaki"
                },
                {
                    question: "Tulang yang membentuk rangka pelindung bagi jantung dan paru-paru adalah...",
                    answers: {
                        a: "Tulang panggul",
                        b: "Tulang belakang",
                        c: "Tulang rusuk",
                        d: "Tulang anggota gerak"
                    },
                    correct: "c",
                    explanation: "Tulang rusuk membentuk rangka dada yang melindungi jantung dan paru-paru dari cedera fisik dan mendukung proses pernapasan dengan ekspansi paru-paru."
                }
            ];
    
            const quizContainer = document.getElementById('quiz');
            const resultsContainer = document.getElementById('results');
            const nextButton = document.getElementById('next');
            const submitButton = document.getElementById('submit');
            const backButton = document.getElementById('back-to-main');
            const scoreContainer = document.getElementById('score');
            let currentQuestionIndex = 0;
            let score = 0;
    
            function buildQuiz() {
                const currentQuestion = quizData[currentQuestionIndex];
                const answers = [];
    
                for (let letter in currentQuestion.answers) {
                    answers.push(
                        `<label class="option">
                            <input type="radio" name="question${currentQuestionIndex}" value="${letter}">
                            ${currentQuestion.answers[letter]}
                        </label>`
                    );
                }
    
                const output = 
                    `<div class="question">${currentQuestion.question}</div>
                    <div class="answers">${answers.join('')}</div>`;
    
                quizContainer.innerHTML = output;
            }
    
            function submitQuiz() {
                const currentQuestion = quizData[currentQuestionIndex];
                const answerContainer = quizContainer.querySelector('.answers');
                const selector = `input[name=question${currentQuestionIndex}]:checked`;
                const userAnswer = (answerContainer.querySelector(selector) || {}).value;
                const correctAnswer = currentQuestion.correct;
                const explanation = currentQuestion.explanation;
    
                let feedback = '';
                if (userAnswer === correctAnswer) {
                    answerContainer.querySelector(`input[value=${userAnswer}]`).parentElement.classList.add('correct');
                    score++;
                    feedback = '<p class="feedback correct-feedback">Jawaban kamu benar.</p>';
                } else {
                    if (userAnswer) {
                        answerContainer.querySelector(`input[value=${userAnswer}]`).parentElement.classList.add('incorrect');
                        feedback = '<p class="feedback incorrect-feedback">Jawaban kamu salah.</p>';
                    }
                    answerContainer.querySelector(`input[value=${correctAnswer}]`).parentElement.classList.add('correct');
                }
    
                resultsContainer.innerHTML = feedback + explanation;
    
                if (currentQuestionIndex < quizData.length - 1) {
                    nextButton.style.display = 'block';
                    submitButton.style.display = 'none';
                } else {
                    submitButton.style.display = 'none';
                    nextButton.style.display = 'none';
                    backButton.style.display = 'block';
                    showScore();
                }
            }
    
            function nextQuestion() {
                currentQuestionIndex++;
                resultsContainer.innerHTML = '';
                nextButton.style.display = 'none';
                submitButton.style.display = 'block';
                buildQuiz();
            }
    
            function showScore() {
                scoreContainer.innerHTML = `Skor kamu adalah ${score} dari ${quizData.length}`;
                scoreContainer.style.display = 'block';
            }
    
            // Fungsi untuk kembali ke menu utama
            function backToMain() {
                window.location.href = 'Pilhan-Materi.html'; // Ganti 'index.html' dengan halaman utama Anda
            }
    
            buildQuiz();
        </script>
    </section>
    </main>
  </div>


<script>
document.addEventListener('DOMContentLoaded', function() {
  const progressBar = document.getElementById('progress-bar');
  const navItems = document.querySelectorAll('.nav-item');
  const sections = document.querySelectorAll('section');
  const quizzes = document.querySelectorAll('.quiz-options');
  const arrowContainer = document.getElementById('arrow-container');
  const question1 = document.getElementById('question1');
  const question2 = document.getElementById('question2');

  navItems.forEach(item => {
    item.addEventListener('click', () => {
      const progress = item.getAttribute('data-progress');
      const sectionToShow = item.getAttribute('data-section');
      
      progressBar.style.width = progress + '%';
      progressBar.textContent = progress + '% COMPLETE';
      
      navItems.forEach(nav => nav.classList.remove('active'));
      item.classList.add('active');
      
      sections.forEach(section => {
        if (section.id === sectionToShow) {
          section.style.display = 'block';
        } else {
          section.style.display = 'none';
        }
      });
    });
  });

  
    });
</script>


</body>
</html>
